<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add person</title>
</head>
<body>
    <form method="post" action="/people/add">

        <label for="name">Name: </label>
        <input name="name" type="text" id="name" />
        
        <label for="age">Age: </label>
        <input name="age" type="text" id="age" />
        
        <label for="hobby">Hobby: </label>
        <input name="hobby" type="text" id="hobby" />

        <button type="submit">Submit</button>

    </form>
</body>
</html>