<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
</head>
<body>
    <h1>Peron's Details:</h1>
    <h2>The person's name is <%= person.name %>.</h2>
    <h2>They are <%= person.age %> years old.</h2>
    <h2>Their hobby is <%= person.hobby %>.</h2>
    <a href="http://localhost:8000/people">< Go back</a>
</body>
</html>